.container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  .contents {
    width: calc(100% - 200px);
    .title {
      text-align: center;
    }
    .spacer {
      margin-top: 10rem;
    }
  }
  .list {
    position: sticky;
    top: 5rem;
    max-height: 80vh;
    width: 200px;
  }
}