@use '../../styles/_mixin' as mx;

.title {
  text-align: center;
}

.container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;

  .contents {
    width: calc(100% - 200px);
    .spacer {
      margin-top: 0;
    }
  }
  .list {
    position: sticky;
    top: 5rem;
    max-height: 80vh;
    width: 200px;
    overflow-y: scroll;
    border-left: 2px #333 dotted;
    @include mx.media('<tablet') {
      display: none;
    }
  }
}
