.container {
  display: flex;
  align-items: flex-start;
  .contents {
    width: 75%;
    .title {
      text-align: center;
    }
    .spacer {
      margin-top: 10rem;
    }
  }
  .list {
    position: sticky;
    top: 5rem;
    max-height: 80vh;
    overflow-y: auto;
    width: 30%;
    max-width: 100%;
  }
}