@mixin char_stroke($weight) {
  -webkit-text-stroke: $weight black;
  text-stroke: $weight black;
  paint-order: stroke;
}

.topSlideShowContainer {
  margin: 0;
  position: relative;
  width: 100%;
  height: 400px; /* Adjust height as needed */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topSlideShowImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.topSlideShowOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.topSlideShowTitle {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0.3em;
  margin-left: 0.2em;
  @include char_stroke(2px);
}

.topSlideShowSubtitle {
  font-size: 2em;
  margin-left: 0.3em;
  margin-bottom: 0.1rem;
  @include char_stroke(1px);
}
