.search_box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.search_input {
  font-size: 1.4rem;
  max-width: 90vw;
  width: 700px;
  border-radius: 0 10px 10px 0;
  border: 1px solid #333;
}

.search_icon {
  padding: 0.7rem;
  height: calc(1.4rem + 1px);
  margin-right: -0.3em;
  background-color: #ddd;
  border-radius: 10px 0 0 10px;
  border: 1px solid #333;
  &:hover {
    cursor: pointer;
    background-color: #ccc;
  }
}
