@use "../../styles/mixin" as mx;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title {
  font-weight: 100;
}

.box {
  @include mx.media("<tablet") {
    width: 90%;
  }
  @include mx.media(">tablet") {
    width: 60%;
  }
  padding: 1rem 2rem;
  border: #000 1px solid;
  box-shadow: 3px 5px 2px 2px #ccc;
  border-radius: 1em;
  margin: 0 10px;
}

.newsBox {
  margin-left: 1rem;
}

.newsItem {
  margin: 1rem 0;
}

.description {
  text-decoration: underline;
  color: #000;
}

.date {
  color: #555;
}

.ankerDiv {
  text-align: right;
  padding: 1rem;
}
