@use '../../styles/mixin' as mx;

.container {
  display: flex;
  justify-content: center;
  margin: 7rem 0;
}

.box {
  @include mx.media('<tablet') {
    width: 90%;
  }
  @include mx.media('>tablet') {
    width: 80%;
  }
}

.title {
  font-weight: normal;
  font-size: 35px;
  margin: 0;
  text-decoration: underline;
}

.content {
  padding-left: 1rem;
  margin: 1rem 0;
  font-size: 20px;
}
